:root {
  --size: 400px;
  --color-dark: #353535;
  --color-medium: #858585;
  --color-light: #d3d3d3;
  --color-codemotion: hsl(15, 85%, 56%);
  --color-codemotion: rgb(238, 95, 47);
  --color-codemotion: #ee5f2f;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  align-items: center;
  background-color: var(--color-light);
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: center;
}
