html, body {
  height: 100%;
}
body {
  margin: 0;
  overflow: hidden;
  font-family: system-ui, sans-serif;
  background-color: #fff;
  background-image: paint(box);
}
.no-dice {
  font-size: 15vmin;
  word-break: break-word;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
