.wrapper {
  /* Presetation properties */
  border: 1px dashed var(--color-medium);
  height: var(--size);
  padding: 1em;
  box-sizing: content-box;
  width: var(--size);

  /* Houdini Magic */
  --circles-offset: 10;
  --circles-count: 5;
  --circles-opacity: 0.6;
  --circles-strokeWeight: 2;
  --circles-fill: 0;

  background: paint(circles);
}
